.App-header{

  background-color: #e5f3f1;
  font-size: 16px;
}

.central{

  margin-top: 30px;
  margin-bottom: 40px;
}

td, .cursor {

  cursor: pointer;
}

.footer{

  margin-bottom: 30px;
}

.boton_orden{

  width: 8px;
  margin-left: 20px;
}

.oculto{

  visibility: hidden;
}

.filtro {

  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.limpiar {

  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.limpiar_filtro{

  margin-left: 15px;
}

.cargando {

  width: 25px;
}
